<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div  th:fragment="middle_user">
    <div class="container-fluid">
        <div class="row">
            <header class="col-md-3">
                <nav class=" ">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action  list-group-flush">
                            The current link item
                        </a>
                        <a href="#" class="list-group-item list-group-item-action ">A second link item</a>
                        <a href="#" class="list-group-item list-group-item-action ">A third link item</a>
                        <a href="#" class="list-group-item list-group-item-action -flush">A fourth link item</a>
                        <a class="list-group-item list-group-item-action  ">A disabled link item</a>
                    </div>
                </nav>
            </header>
            <main class="col-md-9">
                <div class="card-group">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Заголовок карточки</h5>
                            <p class="card-text">Это более широкая карточка с вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                            <p class="card-text"><small class="text-muted">Последнее обновление 3 мин. назад</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Заголовок карточки</h5>
                            <p class="card-text">Эта подсказка имеет вспомогательный текст ниже, как естественный ввод к дополнительному контенту.</p>
                            <p class="card-text"><small class="text-muted">Последнее обновление 3 мин. назад</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Заголовок карточки</h5>
                            <p class="card-text">Это более широкая карта С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту. Эта карточка имеет даже более длинный контент, чем первая, чтобы показать действие одинаковой высоты.</p>
                            <p class="card-text"><small class="text-muted">Последнее обновление 3 мин. назад</small></p>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>


</div>